main, body, html, nav > h1{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

ul{
    margin: 0px;
    list-style: none;
}

nav{
    background-color: rgb(201, 161, 110);
}

.sidebar{
    height: 100%;
    background-color: antiquewhite;
    padding: 8px;
}

input{
    margin-bottom: 8px;
}

main{
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr ;
}

.content{
    display: grid;
    gap: 16px;
    padding: 16px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 300px;
}

.card{
    border: solid black 1px;
    box-sizing: border-box;
    display: flex;
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
    border-radius: 8px;
}

.card:hover {
   box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.book-img{
    width: 150px;
    justify-content: center;
}

.info{
    box-sizing: border-box;
    padding: 8px;
}

.info > *{
    margin-bottom: 0px;
}

.info > p, h3{
    margin-top: 8px;
}

.rmv-btn{
    margin-top: 8px;
}